venv
venv/*
build/
*.pyc
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
\.pytest_cache/
\.pytest_cache/.*
.cfg_*
dist/
.cache/
.eggs/
.vscode/
ter
tags
.idea/
.coverage
config.yaml
registration.yaml
mudtrix.db
mudtrix.log
